@model List<IPL.Entity.BidQuestion>
@using Newtonsoft.Json;
@using IPL.Entity;
@{
    ViewBag.Title = "BidderIndex";
    BidQuestion question = new BidQuestion();
    if (Model != null && Model.Count > 0)
    {
        question = Model[0];
    }
    string currentSlide = string.Empty;
    var currentUser = ViewBag.user;
    string activeClass = string.Empty;
    int activeSlide = 0;
}

<section class=" tg-haslayout tg-bgstyleone">
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="tg-topbar tg-haslayout">
                    <nav id="tg-topaddnav" class="tg-topaddnav">
                        <a href="/Home/History" class="tg-btn pull-left" style="margin-bottom:1%;z-index:99999;margin-left:2%;">Bid History</a>
                        <a href="/Home/LogOut" class="tg-btn pull-right" style="z-index:99999;margin-right:2%;">Logout</a>
                        <span class="pull-right username">Welcome, @currentUser.Name</span><br />
                        <span class="pull-right balance">Balance : <span id="balance-text"></span> </span>
                    </nav>
                </div>
                <nav id="tg-nav" class="tg-nav brand-center">
                    <div class="navbar-header">
                        <strong class="tg-logo">
                            <a href="/home/bid"><img src="/Content/images/logo.png" alt="image description"></a>
                        </strong>
                    </div>
                    <div id="tg-navigation" class="tg-navigation">
                        <div class="tg-colhalf">
                        </div>
                        <div class="tg-colhalf">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-bgpattrant">
        <div class="container">
            <div class="row">
                <div class="tg-upcomingmatch-counter question-section">
                    <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                        <figure style="padding-top:27%">
                            <img src="~/content/images/img-02.png" alt="image description">
                        </figure>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @*@if (!string.IsNullOrEmpty(question.Team))
                            {
                                <div class="tg-contentbox hide-for-success" style="height:600px;">
                                    <div class="tg-description"><h4 style="color:green" class="success-msg"></h4></div>
                                    <div class="tg-section-heading"><h2 style="color:white">@question.TeamA Vs. @question.TeamB</h2></div>
                                    <div class="tg-description question">
                                        <h4 style="color:white">@question.bidQuestion</h4>
                                    </div>
                                    <div class="tg-counters" style="border-bottom: 1px solid #aeaeae;margin: 0 0 15px;padding: 0 0 15px;">
                                        <div class="tg-counter tg-In-Favours"><h3>@question.InFavour</h3><h4>In-Favour</h4></div>
                                        <div class="tg-counter tg-Against"><h3>@question.Against</h3><h4>Against</h4></div>
                                        <div class="tg-counter tg-TotalPoints"><h3>@question.bidPoints</h3><h4>Bid points</h4></div>
                                    </div>
                                    <div class="tg-themebtnprev" onclick="fn_PreviousQuestion()" style="border:1px solid #ffcc33;top:52%;right:4%;"><span class="fa fa-angle-up" style="color:white"></span></div>
                                    <div class="tg-themebtnnext" onclick="fn_NextQuestion()" style="border:1px solid #ffcc33;top:73%;right:4%;"><span class="fa fa-angle-down" style="color:white"></span></div>

                                    <div class="tg-btnbox">
                                        <button class="tg-btn yes" href="#" onclick="fn_SubmitBidResultByBidder('Yes',@question.MasterId)"><span>YES</span></button>
                                        <button class="tg-btn no" href="#" onclick="fn_SubmitBidResultByBidder('No',@question.MasterId)"><span>NO</span></button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tg-contentbox">
                                    <div class="tg-description">
                                        <h4 style="color:white">Bid is not set yet.</h4>
                                    </div>
                                </div>
                            }*@
                        @if (!string.IsNullOrEmpty(question.Team))
                        {
                            <div id="question" class="carousel slide tg-contentbox" data-interval="false">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    @foreach (BidQuestion ques in Model)
                                    {
                                        activeClass = activeSlide == 0 ? "active" : "";
                                        currentSlide = "question_" + @ques.MasterId;
                                        <div class="item @activeClass" id="@currentSlide">
                                            <div class="tg-description"><h4 class="success-msg"></h4></div>
                                            <div class="tg-section-heading"><h2 style="color:#ffcc33">@ques.TeamA Vs. @ques.TeamB</h2></div>
                                            <div class="tg-description question">
                                                <h4 style="color:white">@ques.bidQuestion</h4>
                                            </div>
                                            <div class="tg-counters" style="border-bottom: 1px solid #aeaeae;margin: 0 0 15px;padding: 0 0 15px;">
                                                <div class="tg-counter tg-In-Favours"><h3>@ques.InFavour</h3><h4>In-Favour</h4></div>
                                                <div class="tg-counter tg-Against"><h3>@ques.Against</h3><h4>Against</h4></div>
                                                <div class="tg-counter tg-TotalPoints"><h3>@ques.bidPoints</h3><h4>Bid points</h4></div>
                                            </div>
                                            @if (ques.IsBidActive == true)
                                            {
                                                <div class="tg-btnbox">
                                                    <button class="tg-btn yes" href="#" onclick="fn_SubmitBidResultByBidder('Yes',@ques.MasterId)"><span>YES</span></button>
                                                    <button class="tg-btn no" href="#" onclick="fn_SubmitBidResultByBidder('No',@ques.MasterId)"><span>NO</span></button>
                                                </div>
                                            }
                                        </div>
                                        activeSlide++;
                                    }
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" style="background-color:none;" href="#question" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" style="background-color:none;" href="#question" data-slide="next">&rsaquo;</a>

                            </div>
                        }
                        else
                        {
                            <div class="tg-contentbox">
                                <div class="tg-description">
                                    <h4 style="color:white">Bid is not set yet.</h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(question.Team))
            {
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 pull-right">
                        <h4 style="color:#ffcc33">Bid History</h4>
                        <hr />
                        <div id="partialBidHistory">

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



<script>
    fn_getUserPoints();
    var masterId = $(".carousel-inner .active").attr("id").replace("question_", "");
    fn_refreshBidHistory(masterId);   
    function fn_SubmitBidResultByBidder(val, masterId) {
        $(".yes").attr("disabled", "disabled");
        $(".no").attr("disabled", "disabled");
        if (val == "Yes") val = true; else val = false;
        $.ajax({
            type: "POST",
            url: "/Home/SubmitBidResultByBidder",
            data: { masterId: masterId, val: val },
            success: function (response) {
                if (response.data.Status == 0) {
                    var activeClass = $(".carousel-inner .active");
                    $(".for-success").show();
                    $(".success-msg").removeClass("error-color").addClass("success-color");
                    $(".success-msg").html(response.data.Message);
                    $(activeClass).find('.tg-counter.tg-In-Favours > h3').html(response.favour);
                    $(activeClass).find('.tg-counter.tg-Against > h3').html(response.against);
                    $(activeClass).find('.tg-counter.tg-Against > h3').html(response.bidPoints);
                    fn_refreshBidHistory(masterId);
                    fn_getUserPoints();
                }
                else {
                    $(".success-msg").removeClass("success-color").addClass("error-color");
                    $(".for-success").show();
                    $(".success-msg").html(response.data.Message);
                }
                setTimeout(function () {
                    $(".for-success").hide();
                    $(".success-msg").html("");
                }, 5000);
                $(".yes").removeAttr("disabled");
                $(".no").removeAttr("disabled");
            }
        });
    }

    $('#question').bind('slid.bs.carousel', function (e) {
        var masterId = $(".carousel-inner .active").attr("id").replace("question_", "");
        fn_refreshBidHistory(masterId);
    });

    $('.carousel-control.left').click(function (e) {
        $(".for-success").hide();
        $(".success-msg").html("");
        fn_getUserPoints();
    });

    $('.carousel-control.right').click(function () {
        $(".for-success").hide();
        $(".success-msg").html("");
        $('#question').carousel('next');
        fn_getUserPoints();
    });

    function fn_refreshBidHistory(masterId) {
        $("#partialBidHistory").load("/Home/LoadBidHistory?MasterId=" + masterId);
    }

    function fn_getUserPoints() {
        $.ajax({
            type: "POST",
            url: "/Home/getUserPoints",
            success: function (response) {
                if (response.data.Status == 0)
                    $("#balance-text").text(response.points);
                else
                    window.location.href = '/Home/Index';
            }
        });
    }
</script>