@using IPL.Entity
@model LoginViewModel
@{
    var currentUser = ViewBag.user;
}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="tg-topbar tg-haslayout">
                        <nav id="tg-topaddnav" class="tg-topaddnav">
                            <a href="javascript()" class="tg-btn pull-right" style="margin-bottom:2%;z-index:99999;margin-right:2%;" data-toggle="modal" data-target="#tg-login">login</a>
                        </nav>
                    </div>
                    <nav id="tg-nav" class="tg-nav brand-center">
                        <div class="navbar-header">
                            <strong class="tg-logo">
                                <a href="/home/bid"><img src="~/Content/images/logo.png" alt="image description"></a>
                            </strong>
                        </div>
                        <div id="tg-navigation" class="tg-navigation">
                            <div class="tg-colhalf">
                            </div>
                            <div class="tg-colhalf">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--************************************
            Header End
    *************************************-->
    <!--************************************
            Home Slider Start
    *************************************-->
    <div class="tg-sliderbox">
        <div id="tg-home-slider" class="tg-home-slider tg-haslayout">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <figure class="floating">
                            <img src="~/Content/images/slider/img-01.png" alt="image description">
                        </figure>
                        <div class="tg-slider-content">
                            <h1>alive and <span>kickin</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Home Slider End
    *************************************-->
    <!--************************************
        LightBoxes End
    *************************************-->
    <div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="tg-modal-content login-form">
                <div class="tg-formarea">
                    <div class="tg-border-heading">
                        <h3>Login</h3>
                    </div>
                    @using (Ajax.BeginForm("Login", "Home",new AjaxOptions
                    {//GetPatients is name of method in PatientController
                        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
                                                               //UpdateTargetId = "patientList",
                                                               //LoadingElementId = "loader", // div with .gif loader - that is shown when data are loading
                        OnSuccess = "OnSuccess"

                    },new { @id = "login-form" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "UserName" })
                                @Html.ValidationMessageFor(model => model.Username)

                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "password" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="msg" style="margin-bottom: 3%;color: red;">
                            </div>
                            <div class="form-group">
                                <button class="tg-btn tg-btn-lg login-btn" type="submit">Login Now</button>
                                <a onclick="fn_ShowForgotPassword()" style="color: #0000EE;text-decoration: underline;" href="javascript:void(0);">Forgot Password</a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>

            <div class="tg-modal-content forgot-pwd-form" style="display:none;">
                <div class="tg-formarea">
                    <div class="tg-border-heading">
                        <h3>Forgot Password</h3>
                    </div>
                    @using (Ajax.BeginForm("ForgotPassword", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "OnSuccess_ForgotPassword",
                        OnFailure = "OnFailure_ForgotPassword"
                    }, new { @id = "forgot-form" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "UserName" })
                                @Html.ValidationMessageFor(model => model.Username)

                            </div>
                            <div class="forgot-msg" style="margin-bottom:3%;">
                            </div>
                            <div class="form-group">
                                <button class="tg-btn tg-btn-lg login-btn" type="submit">Submit</button>
                                <a onclick="fn_ShowLogin()" style="color: #0000EE;text-decoration: underline;" href="javascript:void(0);">Go Back</a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tg-modalbox modal fade" id="tg-forgotPassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            
        </div>
    </div>
</div>
<script src="http://localhost:5345/Scripts/jquery.validate.min.js"></script>
<script src="http://localhost:5345/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    function OnSuccess(response) {
        if (response.data.Status == 0)
            window.location = '@Url.Action("Bid", "Home")';
        else
            $(".msg").html(response.data.Message);
    }

    function OnFailure(response) {
        $(".msg").html("Something went wrong, please try again later.");
    }

    function OnSuccess_ForgotPassword(response) {
        if (response.data.Status == 0)
            $(".forgot-msg").removeClass("error-color").addClass("success-color");
        else {
            $(".forgot-msg").removeClass("success-color").addClass("error-color");
        }
        $(".forgot-msg").html(response.data.Message);
    }

    function OnFailure_ForgotPassword(response) {
        $(".forgot-msg").removeClass("success-color").addClass("error-color");
        $(".forgot-msg").html("Something went wrong, please try again later.");
    }

    function fn_ShowForgotPassword()
    {
        $(".login-form").hide();
        $(".forgot-pwd-form").show();
        $(".forgot-msg").html("");
        $('#forgot-form')[0].reset();
        $(".field-validation-valid > span").remove()
    }

    function fn_ShowLogin()
    {
        $(".forgot-pwd-form").hide();
        $(".login-form").show();
        $(".forgot-msg").html("");
        $('#login-form')[0].reset();
        $(".field-validation-valid > span").remove()
    }

    $(document).ready(function () {
        console.log("ready!");
    });
</script>